
ul li{
    list-style: none;
}

.conteudo{
    font-size: 1.5rem;
}
.conteudo .titulo{
    font-size: 2.5rem;
    font-weight: 300px;
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
    margin-bottom: 10px;
}